{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{% static "images/header/favicon.png" %}">
    <title>
        {% block title %}
            Pro-exchanger
        {% endblock title %}   
    </title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/base/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/base/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
    {% endblock %}
</head>
<body id="bg">

{% block additional_styles %}
    <style>
        body {
            background-image: url('{% static "#"%}');
        }
    </style>
{% endblock %}

    <nav class="navbar">
        <img class="headerLogoImg" src="{% static 'images/header/logo.png' %}">
        <div class="navbarButtons">
            <ul class="navbarItems">
                <li class="navbarItem">
                    <a class="navbarItemText" href="{% url 'exchanger:index' %}">
                        Главная
                    </a>
                </li>
                <li class="navbarItem">
                    <div class="verticalLine"></div>
                </li>
                <li class="navbarItem">
                    <a class="navbarItemText" href="{% url 'exchanger:cooperation' %}">
                        Сотрудничество
                    </a>
                </li>
                <li class="navbarItem">
                    <div class="verticalLine"></div>
                </li>
                <li class="navbarItem">
                    <a class="navbarItemText" href="{% url 'exchanger:exchange_rules' %}">
                        Правила обмена
                    </a>
                </li>
                <li class="navbarItem">
                    <div class="verticalLine"></div>
                </li>
                <li class="navbarItem">
                    <a class="navbarItemText" href="{% url 'exchanger:partners' %}">
                        Партнёры
                    </a>
                </li>
                <li class="navbarItem" >
                    <div class="verticalLine"></div>
                </li>
                <li class="navbarItem">
                    <a class="navbarItemText" href="{% url 'exchanger:contacts' %}">
                        Контакты
                    </a>
                </li>
            </ul>
            <button class="menuMButton">
                <div class="hMLine1 hMLine"></div>
                <div class="hMLine2 hMLine"></div>
                <div class="hMLine3 hMLine"></div>
            </button>
            <div class="mobileMenu">
                
            </div>
            <ul class="languageSelect">
                <li>
                    <select id="languageSelect">
                        <option value="0">RU</option>
                        <option value="1">EN</option>
                    </select>
                </li>
            </ul>
            <ul class="navbarAuthItems">
                {% if user.is_authenticated %}
                    <ul class="isAuthTrue">    
                        <li>
                            <span>
                                Hi, {{ user.username }}.
                            </span>
                        </li>
                        <li>
                            <a class="logoutText" href="{% url 'users:logout' %}">
                                Выйти
                            </a>
                        </il>
                    </ul>
                {% else %}
                    <ul class="isAuthFalse">
                        <li>
                            <button type="button" class="registerText">
                                <a href="{% url 'users:register' %}">
                                    Регистрация
                                </a>
                            </button>
                        </li>
                        <li>
                            <p class="loginText">
                                Есть аккаунт?
                                <a href="{% url 'users:login' %}">
                                    Войти
                                </a>
                            <p>
                        </li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main class="content">
        <div>
            {% block content %}
                {% block scripts %}
                    {% comment %} jquery {% endcomment %}
                    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                    {% comment %} adaptive {% endcomment %}
                    {% comment %} vanta.js {% endcomment %}
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.birds.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.cells.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds2.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.dots.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.fog.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.globe.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.halo.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.net.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.rings.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.ripple.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.topology.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.trunk.min.js"></script>
                    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.waves.min.js"></script>
                {% endblock %}
            {% endblock content %}
        </div> 
    </main>
    <footer class="desktopFooter">
        <div class="footerTop">
            <div class="footerNavbarButtons">
                <img class="footerLogoImg" src="{% static 'images/header/logo.png' %}">
                <ul class="footerNavbarItems">
                    <li class="footerNavbarItem">
                        <a class="footerNavbarItemText" href="{% url 'exchanger:index' %}">
                            Главная
                        </a>
                    </li>
                    <li class="footerNavbarItem">
                        <div class="footerVerticalLine"></div>
                    </li>
                    <li class="footerNavbarItem">
                        <a class="footerNavbarItemText" href="{% url 'exchanger:cooperation' %}">
                            Сотрудничество
                        </a>
                    </li>
                    <li class="footerNavbarItem">
                        <div class="footerVerticalLine"></div>
                    </li>
                    <li class="footerNavbarItem">
                        <a class="footerNavbarItemText" href="{% url 'exchanger:exchange_rules' %}">
                            Правила обмена
                        </a>
                    </li>
                    <li class="footerNavbarItem">
                        <div class="footerVerticalLine"></div>
                    </li>
                    <li class="footerNavbarItem">
                        <a class="footerNavbarItemText" href="{% url 'exchanger:partners' %}">
                            Партнёры
                        </a>
                    </li>
                    <li class="footerNavbarItem" >
                        <div class="footerVerticalLine"></div>
                    </li>
                    <li class="footerNavbarItem">
                        <a class="footerNavbarItemText" href="{% url 'exchanger:contacts' %}">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="telegram">
                <div class="telegramImage">
                    <img src="{% static "images/footer/telegramImage.png" %}">
                </div>
                <div>
                    <p class="telegramText">
                        Наш Telegram
                    </p>
                    <p class="telegramLink">
                        @Telegram
                    </p>
                </div>
            </div>
        </div>
        <div class="footerBottom">
            <p class="rightsText">
                © 2022 Все права защищены
            </p>
        </div>
    </footer>
    <footer class="mobileFooter">
        <div class="mobileFooterTop">
            <div class="mobileFooterTop-Left">
                <img src="{% static "images/header/logo.png" %}">
                <p>
                    © 2022 Все права защищены
                </p>
            </div>
            <div class="mobileFooterTop-Right">
                <div class="mobileOurTelegram">
                    <p>
                        Наш Telegram
                    </p>
                </div>
                <div class="mobileTelegram">
                    <img src="{% static "images/footer/mobileTelegram.png" %}">
                    <p>
                        @Telegram
                    </p>
                </div>
            </div>
        </div>
        <div class="mobileFooterBottom">
            <div class="mobileFooterBottom-Left">
                <ul>
                    <li>
                        <a href="{% url 'exchanger:index' %}">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'exchanger:cooperation' %}">
                            Сотрудничество
                        </a>
                    </li>
                    <li class="footerNavbarItem">
                        <a href="{% url 'exchanger:exchange_rules' %}">
                            Правила обмена
                        </a>
                    </li>
                </ul>
            </div>
            <div class="mobileFooterBottom-Right">
                <ul>
                    <li>
                        <a href="{% url 'exchanger:partners' %}">
                            Партнёры
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'exchanger:contacts' %}">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>