{% extends 'exchanger/base.html' %}

{% load static %}

{% block title %}
    Cooperation
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block additional_styles %}
    <style>
        body {
            background-image: url('{% static "images/"%}');
        }
    </style>
{% endblock %}

{% block content %}
{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% endblock content %}