{% extends 'exchanger/base.html' %}

{% load static %}

{% block title %}
    Exchange Rules
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/exchange_rules.css' %}">
{% endblock %}

{% block additional_styles %}
    <style>
        body {
            background-image: url('{% static "images/rules/rules_bg.png"%}');
        }
    </style>
{% endblock %}

{% block content %}
{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
    <div>
        <div class="rulesTitle">
            <p>
                Правила обменных операций<br>
                Pro-Exchanger и политика AML & KYC
            </p>
        </div>

        <div class="rulesText">
            <p>
                Сотрудничество с сервисом Pro-Exchanger оформляется<br>
                договором, отражающим права и обязанности сторон. Наличие<br>
                официального документа исключает необоснованные претензии,<br>
                споры.
            </p>
        </div>

        <div class="item1">
            <p class="rulesItemTitleText1">
                1. Участники договора:
            </p>
            <p class="rulesItemText1">
                Участниками договора являются: с одной стороны ресурс Pro-Exchanger<br>
                в дальнейшем именуемый Сервис, с другой стороны лицо,<br>
                сотрудничающее с сервисом, в дальнейшем именуемое Пользователь.
            </p>
        </div>

        <div class="item2">
            <p class="rulesItemTitleText2">
                2. Понятия, используемые в данном договоре:
            </p>
            <p class="rulesItemText2">
                Сервисом в документе называется автоматизированный web-продукт,<br>
                который бцдет предоставлятся на основании данного документа.<br>
                Пользователем является другая сторона договора, лицо принявшее<br>
                условия Сервиса. В договоре системы электронных расчетов с<br>
                Пользователем содержится объем прав требований, других прав. Он<br>
                обозначается учетными единицами, для которых в документе<br>
                используется термин "Электронные единицы". Заявкой называется<br> 
                информация, которую в электронном формате Пльзователь<br>
                намеренный воспользоваться услугами, отправляет в Сервис. В ней<br> 
                отражены условия ресурса, которые принимает Пользователь.
            </p>
        </div>

        <div class="item3">
            <p class="rulesItemTitleText3">
                3. Предмет заключения договора:
            </p>
            <p class="rulesItemText3">
                Пользователь, используя функционал Сервиса, подает заявку, в которой<br>
                Сервису поручается совершение сделок с определенной суммой<br>
                «электронных единиц». Сервис принимает «электронные единицы», за<br>
                соответствующее вознаграждение от своего имени продает их лицам,<br>
                лицу, желающим совершить покупку. Стоимость в денежном эквиваленте,<br>
                которую Пользователь намерен получить за продукт, отражается в<br>
                заявке. Средства, полученные за передачу «электронных единиц»,<br>
                перечисляются на реквизиты, указанные Пользователем в заявке. Сервис<br>
                может реализовать продукт по стоимости, превышающей сумму,<br>
                указанную Пользователем. В этом случае положительная разница<br>
                является премиальной оплатой, комиссионными за услуги,<br>
                перечисляется на счет Сервиса.
            </p>
        </div>

        <div class="item4">
            <p class="rulesItemTitleText4">
                4. Порядок действия договора
            </p>
            <p class="rulesItemText4">
                Договор заключается в форме публичной оферты. Основанием для<br>
                составления документа является заявка, в которой Пользователь<br>
                соглашается с предложенными условиями. Оформление заявки<br>
                констатирует факт намерения Пользователя воспользоваться<br>
                услугами Сервиса, предварительного ознакомления и согласия с условиями<br>
                сотрудничества. По завершению оформления заявки, ее отправки<br>
                действия Пользователя признаются совершенными, фиксируется<br>
                согласие на оплату услуги. Сервис автоматически регистрирует время,<br>
                дату акцепта, формирование заявки. На принятие предложения<br>
                Пользователю, оформившему заявку, отводится 30 минут. Моментом<br>
                вступления договора в действие является поступление «электронных<br>
                единиц» от Пользователя на сервисные реквизиты. Сумма отражается в<br>
                заявке Пользователя. В Сервисе разработан регламент, правила, на<br>
                основании которых проводится учет операций, совершаемых с<br>
                «электронными единицами». Действие документа прекращается с<br>
                исполнением предмета договора. Любая из сторон может расторгнуть<br>
                данный договор. Условия для преждевременного прекращения действия<br>
                указаны ниже
            </p>
        </div>

        <div class="hLine"></div>
    </div>
{% endblock content %}