{% extends 'exchanger/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"
{% endblock %}

{% block additional_styles %}
    <style>
        body {
            background-image: url('{% static "images/background_main_page.jpg"%}');
        }
    </style>
{% endblock %}

{% block content %}
    <div class="aboutService">
        <p class="leftText">
            Регистрация<br>
            не требуется
        </p>
        <p class="rightText">
            <a>Pro-Exchanger</a> — это надежные<br>
            услуги по обмену валют и<br>
            электронных денег.
        </p>
    </div>
    <div class="exchanger">
        <div class="leftBlock">
            <p>
                Отдаете коины  
            </p>
        </div>
        <div class="centerBlock">
            <img src="{% static "images/vector.png" %}">
        </div>
        <div class="rightBlock">
            <p>
                Получаете коины
            </p>
        </div>
    </div>
    <div class="intermediateBlock1">
        <div class="text">
            <p>
                Обмен происходит в полуавтоматическом режиме<br>
                по выгодному курсу и в кратчайшие сроки            
            </p>
        </div>
        <div class="imagesGroup">
            <img class="textRadiusImg" id="words360" src="{% static 'images/textRadius.png' %}">
            <img class="textRadiusVectorImg" src="{% static 'images/textRadiusVector.png' %}">
        </div>
    </div>
{% endblock content %}