@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

.rulesTitle p {
    font-style: normal;
    color: #fff;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Mont-Regular';
    margin-left: 160px;
    margin-top: 300px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesTitle {
        display: none;
    }
}

.rulesTitleMobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesTitleMobile {
        display: block;
        width: 350px;
        margin-left: -10px;
        margin-top: 85px;
    }
    .rulesTitleMobile p {
        font-style: normal;
        color: #fff;
        font-weight: 800;
        font-family: 'Mont-Regular';
        font-size: 30px;
        line-height: 99.3%;
        text-align: center;
    }
}

.rulesPreHLine {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesPreHLine {
        display: block;
        width: 194px;
        height: 2px;
        background: linear-gradient(87.78deg, #04DD00 -17.66%, #00FFF0 -17.65%, rgba(34, 112, 185, 0.65) 50.4%, #00FFC2 114.33%);
        margin-left: 70px;
        margin-top: -20px;
    }
}