@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

@media (min-width: 350px) and (max-width: 480px) {
    div .pageTitle {
        width: 350px;
    }    
}

div .pageTitle p {
    color: #fff;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;
    margin-left: 160px;
    margin-top: 300px;
}
@media (min-width: 350px) and (max-width: 480px) {
    div .pageTitle p {
        font-size: 30px;
        text-align: center;
        line-height: 99.3%;
        margin-left: 0;
        margin-top: 120px;
    }
}