@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

@media (min-width: 350px) and (max-width: 480px) {
    div .text2 {
        width: 350px;
    }
}

div .text2 p {
    font-family: 'Mont-Regular';
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 190.3%;
    margin-left: 160px;
    margin-top: 100px;
}
@media (min-width: 350px) and (max-width: 480px) {
    div .text2 p {
        margin-top: 100px;
        margin-left: 10px;
        font-size: 20px;
        line-height: 120.8%;
    }
}