@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

@media (min-width: 350px) and (max-width: 480px) {
    div .text1 {
        width: 310px;
    }
}

div .text1 p {
    color: #fff;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 190.3%;
    margin-left: 160px;
    margin-top: 0px;
}
@media (min-width: 350px) and (max-width: 480px) {
    div .text1 p {
        font-size: 17px;
        line-height: 126%;
        margin-left: 10px;
        margin-top: 20px;
    }
}