@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

@media (min-width: 350px) and (max-width: 480px) {
    div .textTitle {
        width: 350px;
    }
}

div .textTitle p {
    color: #fff;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 43px;
    line-height: 55px;
    margin-left: 160px;
    margin-top: 100px;
    margin-bottom: 80px;
}
@media (min-width: 350px) and (max-width: 480px) {
    div .textTitle p {
        line-height: 99.3%;
        font-size: 23px;
        margin-top: 0;
        margin-left: 10px;
        margin-bottom: 0;
    }
}