/* imports */

@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
}

body {
    min-width: 1000px;
}

#bg {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header styles */ 

.navbar {
    display: inline-flex;
    margin: 20px 10% 0 10%;
    width: 80%;
}

.navbarButtons {
    display: inline-flex;
}
.navbarButtons ul li {
    list-style: none;
}
.navbarButtons ul li a {
    color: #fff;
}
.navbarButtons ul li p {
    color: #fff;
}

.navbarItems {
    display: inline-flex;
    padding-left: 0;
    margin-top: 12px;
}
.navbarItems li a {
    text-decoration: none;
}

.navbarAuthItems {
    display: inline-flex;
    padding-left: 0;
}

.navbarItemText {
    font-family: 'Mont-Regular';
    font-weight: 600;
    font-size: 18px;
}

.verticalLine {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid rgba(0, 255, 240, 1);
    height: 26px;
}

.logo {
    font-family: 'Flamenco', cursive;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    margin-top: 13px;
    margin-right: 150px;
    padding-bottom: 0;
}

#languageSelect {
    background: none;
    border: none;
    color: #fff;
    font-family: 'Mont-Regular';
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin-top: -8;
}

.languageSelect {
    padding-left: 20;
    padding-right: 0;
}

.registerText {
    margin-top: -9px;
    margin-left: 0px;
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    width: 165px;
    height: 38px;
    border-radius: 6px;
    background: linear-gradient(87.78deg, #04DD00 -17.66%, #00FFF0 -17.65%, rgba(34, 112, 185, 0.65) 50.4%, #00FFC2 114.33%);
    cursor: pointer;
    border: none;
}
.registerText a {
    text-decoration: none;
}

.loginText {
    margin-left: 22;
    margin-top: 2;
    font-weight: 600;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
}
.loginText a {
    text-decoration: underline;
}

.isAuthTrue {
    display: inline-flex;
}

.isAuthFalse {
    margin-left: -20px;
    margin-top: -2px;
}

/* footer styles */

footer {
    margin: 0 10% 0 10%;
    bottom: 0;
    width: 80%;
}

.footerTop {
    display: inline-flex;
    margin-top: 15px;
    margin-left: -20px;
}

.footerBottom .rightsText {
    color: #fff;
    margin-top: -20px;
    padding-bottom: 16px;
    margin-left: 25px;
}

.footerNavbarButtons {
    display: inline-flex;
}
.footerNavbarButtons ul li a {
    color: #fff;
    text-decoration: none;
}

.footerNavbarButtons ul {
    margin-left: 40px;
    margin-top: 30px;
}

.footerNavbarItems {
    display: inline-flex;
}

.footerNavbarItems li {
    list-style: none;
}

.footerVerticalLine {
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 2px solid rgba(0, 255, 240, 1);
    height: 26px;
}

.telegram {
    display: inline-flex;
    margin-left: 280px;
    margin-top: 10px;
}

.telegramText {
    color: #fff;
    font-family: 'Mont-Regular';
    font-weight: normal;
}

.telegramImage {
    margin-top: 18px;
    margin-right: 15px;
}

.telegramLink {
    color: rgba(0, 255, 240, 1);
    font-family: 'Mont-Regular';
    font-weight: normal;
    margin-top: -17px;
}

.footerLogo {
    color: #fff;
    font-family: 'Flamenco', cursive;
    font-weight: normal;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 45px;
    width: 64px;
    font-size: 30px;
}

.footerNavbarItemText {
    font-family: 'Mont-Regular';
    font-weight: normal;
    margin-top: 0;
}