/* imports */

@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
}



/* rules title block */

.rulesTitle p {
    font-style: normal;
    color: #fff;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
    font-family: 'Mont-Regular';
    margin-left: 160px;
    margin-top: 300px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesTitle {
        display: none;
    }
}

.rulesTitleMobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesTitleMobile {
        display: block;
        width: 350px;
        margin-left: -10px;
        margin-top: 85px;
    }
    .rulesTitleMobile p {
        font-style: normal;
        color: #fff;
        font-weight: 800;
        font-family: 'Mont-Regular';
        font-size: 30px;
        line-height: 99.3%;
        text-align: center;
    }
}

.rulesPreHLine {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesPreHLine {
        display: block;
        width: 194px;
        height: 2px;
        background: linear-gradient(87.78deg, #04DD00 -17.66%, #00FFF0 -17.65%, rgba(34, 112, 185, 0.65) 50.4%, #00FFC2 114.33%);
        margin-left: 70px;
        margin-top: -20px;
    }
}



/* rules text block */

.rulesText {
    display: block;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesText {
        display: none;
    }
}

.rulesText p {
    font-family: 'Mont-Regular';
    font-style: normal;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    margin-left: 160px;
    margin-top: 110px;
}

.rulesTextMobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .rulesTextMobile {
        display: block;
        width: 350px;
        margin-left: -5px;
    }
    .rulesTextMobile p {
        font-style: normal;
        color: #fff;
        font-family: 'Mont-Regular';
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        line-height: 19px;
    }
}



/* item 1 block */

.item1 {
    margin-top: 70px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item1 {
        width: 350px;
    }
}

.item1 .rulesItemTitleText1 {
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 160px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item1 .rulesItemTitleText1 {
        margin-left: 0;
        font-size: 23px;
        line-height: 34px;
        margin-left: 10px;
        margin-top: 160px;
    }
}

.item1 .rulesItemText1 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 220px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item1 .rulesItemText1 {
        display: none;
    }
}

.item1 .rulesItemText1Mobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item1 .rulesItemText1Mobile {
        display: block;
        font-style: normal;
        font-family: 'Mont-Regular';
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        margin-left: 25px;
    }
}



/* item 2 block */

.item2 {
    margin-top: 70px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item2 {
        width: 350px;
    }
}

.item2 .rulesItemTitleText2 {
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 160px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item2 .rulesItemTitleText2 {
        margin-left: 0;
        font-size: 23px;
        line-height: 34px;
        margin-left: 10px;
    }
}

.item2 .rulesItemText2 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 220px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item2 .rulesItemText2 {
        display: none;
    }
}

.item2 .rulesItemText2Mobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item2 .rulesItemText2Mobile {
        display: block;
        font-style: normal;
        font-family: 'Mont-Regular';
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        margin-left: 25px;
    }
}



/* item 3 block */

.item3 {
    margin-top: 70px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item3 {
        width: 350px;
    }
}

.item3 .rulesItemTitleText3 {
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 160px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item3 .rulesItemTitleText3 {
        margin-left: 0;
        font-size: 23px;
        line-height: 34px;
        margin-left: 10px;
    }
}

.item3 .rulesItemText3 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 220px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item3 .rulesItemText3 {
        display: none;
    }
}

.item3 .rulesItemText3Mobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item3 .rulesItemText3Mobile {
        display: block;
        font-style: normal;
        font-family: 'Mont-Regular';
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        margin-left: 25px;
    }
}



/* item 4 block */

.item4 {
    margin-top: 70px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item4 {
        width: 350px;
    }
}

.item4 .rulesItemTitleText4 {
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 160px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item4 .rulesItemTitleText4 {
        margin-left: 0;
        font-size: 23px;
        line-height: 34px;
        margin-left: 10px;
    }
}

.item4 .rulesItemText4 {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Mont-Regular';
    color: #fff;
    margin-left: 220px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item4 .rulesItemText4 {
        display: none;
    }
}

.item4 .rulesItemText4Mobile {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .item4 .rulesItemText4Mobile {
        display: block;
        font-style: normal;
        font-family: 'Mont-Regular';
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 20px;
        margin-left: 25px;
    }
}


/* horizontal line */

.hLine {
    margin-top: 80px;
    width: 100%;
    height: 6px;
    background-color: rgba(0, 178, 255, 0.51);
}
@media (min-width: 350px) and (max-width: 480px) {
    .hLine {
        width: 393px;
        margin-left: -8;
        padding-left: 0;
    }
}