/* imports */
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../fonts/Mont-Regular.ttf') format('truetype');
}




/* about service block */

.aboutOurService {
    display: inline-flex;
}

.aboutOurService .leftText {
    font-family: 'Mont-Regular';
    font-weight: 600;
    font-size: 60px;
    color: #fff;
    margin-left: 240px;
    margin-top: 145px;
}

.aboutOurService .rightText {
    font-family: 'Mont-Regular';
    font-weight: 600;
    font-size: 33px;
    color: #fff;
    margin-top: 165px;
    margin-left: 70px;
}



/* exchanger block */

.exchanger {
    display: inline-flex;
    margin-left: 175px;
    margin-top: 220px;
}

.exchanger .leftBlock p {
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 20px;
    margin-top: 0px;
}

.exchanger .centerBlock {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.exchanger .rightBlock p {
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 20px;
    margin-top: 0px;
}



/* dropdown */

.select-menu {
    width: 453px;
    height: 73px;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
}

.select-menu .select-btn {
    display: flex;
    height: 40px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -18;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu .options {
    position: relative;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-menu.active .options {
    display: block;
}

.options .option {
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    margin-left: -2px;
}

.options .option img {
    height: 24px;
    width: 24px;
    margin-left: -11px;
}

.options .option:hover {
    background: #f2f2f2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
    margin-left: 20px;
}

span.selected.sBtn-text {
    animation: none;
    background-color: transparent;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    display: inline-flex;
}

span.selected.option-text {
    animation: none;
    background-color: transparent;
}

span.selected1.sBtn-text {
    animation: none;
    background-color: transparent;
}

span.selected1.option-text {
    animation: none;
    background-color: transparent;
}



/* dropdown vector */

.arrow {
    width: 20px;
    height: 20px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    margin-right: 60px;
    margin-left: 250px;
}

.arrow-bottom {
    transform: rotate(135deg);
}



/* intermediate block */

.intermediateBlock1 {
    margin-top: 100px;
}

.intermediateBlock1 .text {
    font-family: 'Mont-Regular';
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    text-align: center;
}

.intermediateBlock1 .imagesGroup {
    margin-top: 40px;
    text-align: center;
}

.intermediateBlock1 #words360 {
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(720deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.intermediateBlock1 .textRadiusVectorImg {
    position: absolute;
    margin-left: -41.5px;
    margin-top: 22px;
}



/* why select our block */

.whyOurBlock {
    text-align: center;
    margin-top: 120px;
}

.whyOurBlock .title p {
    font-family: 'Mont-Regular';
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    color: #fff;
}

.whyOurBlock .list {
    display: block;
    margin-left: -100;
}

.whyOurBlock .list ul {
    display: inline-flex;
    list-style: none;
}

.whyOurBlock .list ul li .colorText {
    list-style: none;
    color: rgba(0, 255, 240, 1);
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 32px;
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 15;
}

.whyOurBlock .list ul li .colorText1 {
    margin-top: 38px;
}

.whyOurBlock .list ul li .colorText2 {
    margin-top: 38px;
}

.whyOurBlock .list ul li .colorText4 {
    margin-top: 32px;
}

.whyOurBlock .list ul li .text {
    list-style: none;
    color: #fff;
    margin-left: 13px;
    margin-right: 13px;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.whyOurBlock .list ul li .text1 {
    margin-left: 30px;
}

.whyOurBlock .list ul li .text2 {
    margin-left: 30px;
}

.whyOurBlock .list ul li .text3 {
    margin-left: 32px;
}

.whyOurBlock .list ul li .text4 {
    margin-left: 34px;
}



/* reviews block */

.reviewsBlock {
    margin-top: 60px;
}

.reviewsBlock .title {
    text-align: center;
    color: #fff;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
    margin-top: 60px;
}

.reviewsBlock .reviews {
    margin-left: 165px;
    margin-top: 35px;
}

.reviewsBlock .reviews ul {
    list-style: none;
    display: inline-flex;
}

.reviewsBlock .reviews .review {
    margin-left: 60px;
}

.reviewsBlock .reviews .reviewContent {
    border: 3px solid #00FFF0;
    border-radius: 29px;
    width: 263px;
    height: 175px;
}

.reviewsBlock .reviews .reviewContent .name {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    margin-left: 20px;
}

.reviewsBlock .reviews .reviewContent .date {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.56);
    margin-left: 20px;
    margin-top: -18;
}

.reviewsBlock .reviews .reviewContent .text {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #fff;
    margin-left: 20px;
    margin-top: 19px;
}

.reviewsBlock .reviews .ellipses {
    margin-left: 30px;
    margin-bottom: 8px;
}

.reviewsBlock .reviews .ellipses img {
    margin-left: 7px;
}

.reviewsBlock .reviewsButton .addReview {
    background: linear-gradient(180deg, #00FFF0 -46.15%, #469EC4 65.15%, #0082BA 169.71%, #263A43 169.71%);
    border-radius: 20px;
    width: 395px;
    height: 80px;
    margin-left: 520px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

.reviewsBlock .reviewsButton .addReview p {
    text-align: center;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 51px;
    color: #fff;
    margin-top: 14px;
}



/* send review */

.sendReview {
    width: 925px;
    height: 604px;
    position: fixed;
    top: 10%;
    left: 18%;
    border-radius: 10px;
}

.sendReview .sendReviewExitImgs {
    position: absolute;
    right: 15;
    top: 15;
    cursor: pointer;
}

.sendReview .sendReviewExitImgs .exitReviewImg {
    position: absolute;
    top: 6;
    right: 5;
}

.sendReview .titleText p {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 70px;
    color: #fff;
}

.sendReview .email {
    margin-top: -30px;
    text-align: center;
}
.sendReview .email input {
    width: 835px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
    border: none;
}
.sendReview .email input::placeholder {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.5);
}

.sendReview .reviewText {
    text-align: center;
    margin-left: 0;
}
.sendReview .reviewText input {
    width: 835px;
    height: 131px;
    background: #FFFFFF;
    box-shadow: inset 0px 0px 10px -1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 35px;
    padding: 20px;
    font-size: 20px;
    border: none;
}
.sendReview .reviewText input::placeholder {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.5);
}

.sendReview .reviewButton {
    margin-top: 75px;
    text-align: center;
    cursor: pointer;
}
.sendReview .reviewButton button {
    width: 345px;
    height: 80px;
    background: linear-gradient(180deg, #00FFF0 -46.15%, #469EC4 65.15%, #0082BA 169.71%, #263A43 169.71%);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.sendReview .reviewButton button p {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 51px;
    color: #FFFFFF;
    margin-top: 8;
}



/* about service block */

.aboutService {
    display: block;
    margin-top: 190px;
}

.aboutService .title {
    text-align: center;
    color: #fff;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 60px;
}

.aboutService .aboutText {
    margin-left: 150px;
}

.aboutService .aboutText .slimText {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
    margin-top: 40px;
}

.aboutService .aboutText .boldText {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    margin-top: 70px;
    color: #fff;
}

.aboutService .aboutList .aboutListTop {
    display: inline-flex;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
    list-style: none;
    margin-left: 100px;
    margin-top: 0;
}

.aboutService .aboutList .aboutListTop .listText2 {
    margin-left: 60px;
}

.aboutService .aboutList .aboutListTop .listText3 {
    margin-left: 60px;
}

.aboutService .aboutList .aboutListBottom .listText2 {
    margin-left: 52px;
}

.aboutService .aboutList .aboutListBottom .listText3 {
    margin-left: 82px;
}

.aboutService .aboutList .aboutListTop li {
    display: inline-flex;
}

.aboutService .aboutList .aboutListBottom {
    display: inline-flex;
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #fff;
    list-style: none;
    margin-left: 100px;
    margin-top: 0;
}

.aboutService .aboutList .aboutListBottom li {
    display: inline-flex;
}

.aboutList .aboutListTop .vLine {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 10px solid rgba(0, 255, 240, 1);
    height: 93px;
}

.aboutList .aboutListBottom .vLine {
    margin-top: 26px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 10px solid rgba(0, 255, 240, 1);
    height: 60px;
}

.bottomHorizontalLine {
    margin-top: 0px;
    width: 100%;
    height: 6px;
    background-color: rgba(0, 178, 255, 0.51);
}