@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

.arrow {
    width: 20px;
    height: 20px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    margin-right: 60px;
    margin-left: 250px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .arrow {
        display: none;
    }
}

.arrow-bottom {
    transform: rotate(135deg);
}