@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');

@font-face {
    font-family: 'Mont-Regular';
    src: url('../../fonts/Mont-Regular.ttf') format('truetype');
}

.exchanger {
    display: inline-flex;
    margin-left: 185px;
    margin-top: 150px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger {
        display: block;
        min-width: 350px;
        max-width: 480px;
        margin-left: 5;
        margin-top: 90px;
        box-sizing: border-box;
    }
}

.exchanger .leftBlock {
    display: block;
}

.exchanger .leftBlock p {
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .leftBlock p {
        font-size: 27px;
        line-height: 35px;
        margin-left: 0;
        box-sizing: border-box;
    }
}

.exchanger .leftBlock .walletChange1 {
    background: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    width: 453px;
    height: 73px;
    font-family: 'Mont-Regular';
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-top: 0px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .leftBlock .walletChange1 {
        width: 327px;
        height: 55px;
        font-size: 20px;
        line-height: 26px;
        box-sizing: border-box;
    }
}

.exchanger .leftBlock .walletChange1 .walletChangeBg {
    padding-top: 18px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .leftBlock .walletChange1 .walletChangeBg {
        padding-top: 16px;
        box-sizing: border-box;
    }
}

.exchanger .leftBlock .walletChange1 .walletChangeBg a {
    margin-left: 20px;
    cursor: pointer;
}

.leftBlockTextAfter {
    display: none;
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.rightBlockTextAfter {
    display: none;
    position: absolute;
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 655px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.walletChange1After {
    display: none;
    background: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    width: 453px;
    height: 73px;
    font-family: 'Mont-Regular';
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-top: 80px;
    margin-left: -218px;
}

.walletChange2After {
    display: none;
    position: absolute;
    background: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    width: 453px;
    height: 73px;
    font-family: 'Mont-Regular';
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-top: 80px;
    margin-left: 635px;
}

.walletChange1After .walletChangeBgAfter {
    padding-top: 18px;
}

.walletChange2After .walletChangeBgAfter {
    padding-top: 18px;
}

.walletChange1After .walletChangeBgAfter a {
    margin-left: 20px;
    cursor: pointer;
}

.walletChange2After .walletChangeBgAfter a {
    margin-left: 20px;
    cursor: pointer;
}

.coinValue1 {
    display: none;
    position: absolute;
    width: 453px;
    height: 73px;
    background: #fff;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 170px;
    margin-left: 0px;
}

.coinValue2 {
    display: none;
    position: absolute;
    width: 453px;
    height: 73px;
    background: #fff;
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 170px;
    margin-left: 635px;
}

.coinValue1 .selectImg {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.coinValue2 .selectImg2 {
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 20px;
}

.coinValue1 .selectCoin {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 12px;
}

.coinValue2 .selectCoin2 {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    margin-top: 20px;
    margin-left: 12px;
}

.coinValue1 .selectCoinVLine {
    width: 2px;
    height: 20px;
    background-color: black;
    margin-top: 24px;
    margin-left: 12px;
}

.coinValue2 .selectCoinVLine2 {
    width: 2px;
    height: 20px;
    background-color: black;
    margin-top: 24px;
    margin-left: 12px;
}

.coinValue1 .selectInput {
    width: 110px;
    height: 20px;
    border: none;
    margin-top: 25px;
    margin-left: 12px;
}

.coinValue1 .selectInput:active {
    border: none;
}

.coinValue1 .selectInput::before {
    border: none;
}

.coinValue2 .selectInput2 {
    width: 110px;
    height: 20px;
    border: none;
    margin-top: 25px;
    margin-left: 12px;
}

.coinValue2 .selectInput2:active {
    border: none;
}

.coinValue2 .selectInput2::before {
    border: none;
}

.coinValue1 .miniCoinText {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    margin-top: 27px;
    margin-left: 10px;
}

.coinValue2 .miniCoinText2 {
    font-family: 'Mont-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    margin-top: 27px;
    margin-left: 10px;
}

.exchanger .centerBlock {
    margin-top: 185px;
    margin-left: 40px;
    margin-right: 40px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .centerBlock {
        margin-top: -16;
        margin-left: 135px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
}

.exchanger .centerBlock .desktopCenterBlock {
    display: block;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .centerBlock .desktopCenterBlock {
        display: none;
        box-sizing: border-box;
    }
}

.exchanger .centerBlock .mobileCenterBlock {
    display: none;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .centerBlock .mobileCenterBlock {
        display: block;
        margin-top: 0;
        box-sizing: border-box;
    }
}

.exchanger .rightBlock p {
    font-family: 'Mont-Regular';
    font-weight: 800;
    font-style: normal;
    font-size: 45px;
    line-height: 58px;
    color: #fff;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .rightBlock P {
        font-size: 27px;
        line-height: 35px;
        margin-left: 0;
        box-sizing: border-box;
    }
}

.exchanger .rightBlock .walletChange2 {
    background: rgba(0, 255, 240, 0.5);
    border-radius: 5px;
    width: 453px;
    height: 73px;
    font-family: 'Mont-Regular';
    color: #fff;
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 35px;
    margin-bottom: 35px;
    margin-top: 0px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .rightBlock .walletChange2 {
        width: 327px;
        height: 55px;
        font-size: 20px;
        line-height: 26px;
        box-sizing: border-box;
    }
}

.exchanger .rightBlock .walletChange2 .walletChangeBg {
    padding-top: 18px;
}
@media (min-width: 350px) and (max-width: 480px) {
    .exchanger .rightBlock .walletChange2 .walletChangeBg {
        padding-top: 16px;
        box-sizing: border-box;
    }
}

.exchanger .rightBlock .walletChange2 .walletChangeBg a {
    margin-left: 20px;
    cursor: pointer;
}